<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lumination.leadmelabs">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeadMeLabs"
        android:fullBackupContent="true"
        android:launchMode="singleTask">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:name=".services.NetworkService"
            android:foregroundServiceType="connectedDevice"
            android:stopWithTask="true"/>

        <service
            android:name=".services.jobServices.LicenseJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true"/>

        <service
            android:name=".services.jobServices.RefreshJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true"/>

        <service
            android:name=".services.jobServices.UpdateJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="true"/>

        <meta-data android:name="io.sentry.dsn" android:value="https://a85214c8c22b4d078d5221bdf5e1232d@o1294571.ingest.sentry.io/6518750" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="0.1" />
    </application>

</manifest>
